@using System.Diagnostics.CodeAnalysis
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@attribute [ExcludeFromCodeCoverage]
@model ScrumAble.Models.IScrumAbleRelease
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Release Details";

}

<div>
    <ul class="navbar-nav" style="flex-direction: row;">
        <li class="nav-item" style="margin-right: 15px;">
            @Html.ActionLink("Edit", "EditRelease", new { Id = Model.Id })
        </li>
        <li class="nav-item">
            @{ var message = "return confirm('Are you sure you want to delete \"" + Model.ReleaseName + "\"?');";}
            @Html.ActionLink("Delete", "DeleteRelease", new { Id = Model.Id }, new { onclick = @message })
        </li>
    </ul>

</div>
<h2>@Model.ReleaseName</h2>

<b>Team: </b>
@Html.ActionLink(Model.Team.TeamName, "Details", "Team", new { Id = Model.Team.Id} )

<br/>

<b>Release Start Date:</b>
@Model.ReleaseStartDate.ToString("d")
<br />

<b>Release End Date:</b>
@Model.ReleaseEndDate.Date.ToString("d")
<br />
<br />


<b>Sprints:</b> 
<ul>
    @{
        if (@Model.Sprints != null)
        {
            @foreach (var sprint in @Model.Sprints)
            {
                <li>@Html.ActionLink(sprint.SprintName, "Details", "Sprint", new { Id = sprint.Id })</li>
            }
        }
    }
    <text style="font-size: 12px; font-weight: bold;"> @Html.ActionLink("+ Add New", "AddSprint", "Sprint") </text>
</ul>

<br />

<b>Defects:</b>
<ul>
    @{
        if (Model.Defects != null)
        {
            foreach (var defect in @Model.Defects)
            {
                <li>@Html.ActionLink(defect.DefectName, "Details", "Defect", new {Id = defect.Id})</li>
            }
        }
    }
    <text style="font-size: 12px; font-weight: bold;"> @Html.ActionLink("+ Add New", "AddDefect", "Defect") </text>
</ul>

<br />



<!--javascript libraries for unobtrusive client-side validation-->
@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}