@using System.Diagnostics.CodeAnalysis
@using Microsoft.AspNetCore.Identity
@using ScrumAble.Areas.Identity.Data
@attribute [ExcludeFromCodeCoverage]
@model ScrumAble.Models.ScrumAbleTeam
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject UserManager<ScrumAbleUser> UserManager

@{
    ViewData["Title"] = "Add Team";

}

<h2>New Team</h2>
<br/>

<div style="width: 500px;">
    @using (Html.BeginForm("CreateTeam", "Team"))
    {
        <div class="form-group">
            @Html.LabelFor(t => t.TeamName)
            @Html.TextBoxFor(t => t.TeamName, new { @class = "form-control" })
            @Html.ValidationMessageFor(t => t.TeamName)
        </div>


        <text>Team Members:</text> <br/>
        <text>(add one team member's email address per line)</text>
        @Html.TextAreaFor(t => t.TeammatesText, 10, 10, new { @class = "form-control" })
        <b>*@UserManager.GetUserName(User) will be added automatically</b>
        <br />
        <br />
        //@Html.HiddenFor(t => t.Id);
        @Html.AntiForgeryToken()

        <button type="submit" class="btn btn-primary">Create Team</button>

    }

    @if (ViewBag.data != null)
    {
        <br />
        <p style="color:red">The following users were not found</p>

        <ul style="color:red">
            @foreach (var user in ViewBag.data)
            {
                <li>
                    @user
                </li>
            }
        </ul>
    }

</div>