@using System.Diagnostics.CodeAnalysis
@using ScrumAble.Areas.Identity.Data
@attribute [ExcludeFromCodeCoverage]
@model ScrumAble.Models.ScrumAbleSprint
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = @Model.SprintName + " Dashboard";

}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<h2>Dashboard for @Model.SprintName</h2>

@{

    if (Model.IsCompleted)
    {
        <text>This sprint ended on @Model.SprintEndDate.ToString("d")</text>
    }

    if (ViewBag.ActiveSprint == null && !Model.IsCompleted)
    {
        <br />
        <button class="btn btn-primary" onclick="pickSrintEndDate()">Start Sprint</button>
    }
    else if (Model.IsActiveSprint)
    {
        <text>@Model.SprintStartDate.ToString("d") - @Model.SprintEndDate.ToString("d")</text><br /><br />
        <button class="btn btn-primary" onclick="ToggleSprint()">End Sprint</button>
    }
    else if (ViewBag.ActiveSprint != null)
    {
        <br />
        <button class="btn btn-primary" onclick="goToActiveSprint()">Go To Active Sprint</button>
    }
}


<br />
<br />

<div style="display: flex;">

    @{
        var workflowStages = Model.WorkflowStages.OrderBy(w => w.WorkflowStagePosition);
        var lastWorkflowStage = workflowStages.Last();
        var onDrop = "drop(event)";

        foreach (var workflowStage in workflowStages)
        {
        @if (!Model.IsActiveSprint && workflowStage == lastWorkflowStage)
            {
                onDrop = "noDrop()";
            }

        <div id="swimlane_@workflowStage.Id" ondragover="allowDrop(event)" ondrop="@onDrop" style=" width: 300px; margin-right: 5px; min-width: 300px; background-color: rgba(52, 58, 64, .1)">
            <div style="text-align: center; width: 250px; height: 35px; background-color: #343a40; color: white; margin-block: 10px; margin-left: 20px;">
                <h4>@workflowStage.WorkflowStageName</h4>
            </div>

            @foreach (var story in workflowStage.Stories)
            {
                if (story.Sprint.Id == ViewBag.User.CurrentWorkingSprint.Id)
                {
            <div class="grabable" ondrop="preventDrop(event)" draggable="true" ondragstart="drag(event)" id="story_Card_@story.Id" style="border: solid; width: 250px; height: 175px; margin-left: 20px; margin-bottom: 10px; background-color: white; overflow: hidden;">
                <div id="workItemCardHeader" style="width: 100%; height: 45px; background-color: thistle; overflow: hidden; font-size: 14px; padding-left: 5px;">
                    @story.StoryName
                </div>

                <div style="width: 100%; height: 130px; font-size: 12px; padding-left: 5px;">

                    <div style="width: 100%; height: 55px;">
                        <b>Assigned to: </b> <br />
                        @if (story.StoryOwner != null)
                                {@story.StoryOwner.Email} <br />
                    </div>

                    <div style="width: 100%; height: 40px; display: flex;">

                        <div style="width: 50%; height: 40px;">
                            <b>Points:</b> @story.StoryPoints
                        </div>

                        <div style="width: 50%; height: 40px;">
                            <b>Due:</b> @Html.DisplayFor(d => story.StoryDueDate)
                        </div>

                    </div>

                    @Html.ActionLink("details", "Details", "Story", new { Id = story.Id }) /  @Html.ActionLink("edit", "EditStory", "Story", new { Id = story.Id })
                </div>

            </div>
                }
            }

            @foreach (var task in workflowStage.Tasks)
            {
                if (task.Sprint.Id == ViewBag.User.CurrentWorkingSprint.Id)
                {
            <div class="grabable" ondrop="preventDrop(event)" draggable="true" ondragstart="drag(event)" id="task_Card_@task.Id" style="border: solid; width: 250px; height: 175px; margin-left: 20px; margin-bottom: 10px; background-color: white; overflow: hidden;">
                <div id="workItemCardHeader" style="width: 100%; height: 45px; background-color: lightsteelblue; overflow: hidden; font-size: 14px; padding-left: 5px;">
                    @task.TaskName
                </div>

                <div style="width: 100%; height: 130px; font-size: 12px; padding-left: 5px;">

                    <div style="width: 100%; height: 55px;">
                        <b>Assigned to: </b> <br />
                        @if (task.TaskOwner != null)
                                {@task.TaskOwner.Email} <br />
                    </div>

                    <div style="width: 100%; height: 40px; display: flex;">

                        <div style="width: 50%; height: 40px;">
                            <b>Points:</b> @task.TaskPoints
                        </div>

                        <div style="width: 50%; height: 40px;">
                            <b>Due:</b> @Html.DisplayFor(d => task.TaskDueDate)
                        </div>

                    </div>

                    @Html.ActionLink("details", "Details", "Task", new { Id = task.Id }) /  @Html.ActionLink("edit", "EditTask", "Task", new { Id = task.Id })
                </div>

            </div>
                }
            }

            @foreach (var defect in workflowStage.Defects)
            {
                if (defect.Sprint.Id == ViewBag.User.CurrentWorkingSprint.Id)
                {
            <div class="grabable" ondrop="preventDrop(event)" draggable="true" ondragstart="drag(event)" id="defect_Card_@defect.Id" style="border: solid; width: 250px; height: 175px; margin-left: 20px; margin-bottom: 10px; background-color: white; overflow: hidden;">
                <div id="workItemCardHeader" style="width: 100%; height: 45px; background-color: tomato; overflow: hidden; font-size: 14px; padding-left: 5px;">
                    @defect.DefectName
                </div>

                <div style="width: 100%; height: 130px; font-size: 12px; padding-left: 5px;">

                    <div style="width: 100%; height: 55px;">
                        <b>Assigned to: </b> <br />
                        @if (defect.DefectOwner != null)
                                {@defect.DefectOwner.Email} <br />
                    </div>

                    <div style="width: 100%; height: 40px; display: flex;">

                        <div style="width: 50%; height: 40px;">
                            <b>Points:</b> @defect.DefectPoints
                        </div>

                        <div style="width: 50%; height: 40px;">
                            <b>Due:</b> @Html.DisplayFor(d => defect.DefectDueDate)
                        </div>

                    </div>

                    @Html.ActionLink("details", "Details", "Defect", new { Id = defect.Id }) / @Html.ActionLink("edit", "EditDefect", "Defect", new { Id = defect.Id })
                </div>

            </div>
                }
            }


        </div>
        }
    }
</div>


<div id="SprintEndDatePicker" style="display: none; border: solid; width: 300px; height: 150px; position: fixed; top: 130px; left: 450px; background-color: white;">
    <p>Select the Sprint end date: </p>
    <input id="SprintEndDate"class="form-control" asp-for="SprintEndDate" />
    @Html.ValidationMessageFor(s => s.SprintEndDate) <br/>
    <button class="btn btn-primary" style="position: absolute; left: 50%; transform: translate(-50%, -25%);" onclick="ToggleSprint()">Start</button>
</div>


<script>

    function ToggleSprint() {
        $.ajax({
            type: 'POST',
            url: '/Dashboard/ToggleSprint',
            data: { sprintId: @Model.Id, sprintEndDate: document.getElementById("SprintEndDate").value },
            success: function() {window.location.reload();}
        });
    }

    function pickSrintEndDate() {
        var element = document.getElementById("SprintEndDatePicker");
        element.style.display = "block";
    }

    function goToActiveSprint() {
        $.ajax({
            type: 'POST',
            url: '/Dashboard/GoToActiveSprint',
            success: function () { window.location.reload(); }
        });
    }

    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("Text", ev.target.id);
    }

    function drop(ev) {
        var data = ev.dataTransfer.getData("Text");

        var swimlane = getSwimlane(ev.target);

        swimlane.appendChild(document.getElementById(data));

        $.ajax({
            type: 'POST',
            url: '/Dashboard/MoveWorkItem',
            data: { workItemDivId: data, workflowStageDivId: swimlane.id}
        });


        ev.preventDefault();
    }

    function getSwimlane(element) {

        if (element.id == "datacontainer") {
            return null;
        }

        if (!element.id.includes("swimlane")) {
            returnElement = getSwimlane(element.parentNode)
        } else {
            return element;
        }

        return returnElement;
    }

    function noDrop() {
        alert("Work Items cannot be moved to or from the final stage of a sprint which is not active.");
    }

    window.addEventListener("dragover",function(e){
        e = e || event;
        e.preventDefault();
    },false);
    window.addEventListener("drop",function(e){
        e = e || event;
        e.preventDefault();
    }, false);


</script>