@using System.Diagnostics.CodeAnalysis
@attribute [ExcludeFromCodeCoverage]
@model ScrumAble.Models.ScrumAbleTask
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Task";

}

<div>
    <ul class="navbar-nav" style="flex-direction: row;">
        <li class="nav-item" style="margin-right: 15px;">
            @Html.ActionLink("Edit", "EditTask", new { Id = Model.Id })
        </li>
        <li class="nav-item">

            @Html.ActionLink("Delete", "DeleteTask", new { Id = Model.Id })
        </li>
    </ul>

</div>
<h2>@Model.TaskName</h2>

<b>Owner:</b> @{
    if (@Model.TaskOwner != null)
    {
        @Model.TaskOwner.Email
    }
}

<br />

<b>Due:</b> @{
    if (@Model.TaskDueDate != null)
    {
        @Html.DisplayFor(d => Model.TaskDueDate);

    }
}

<br />

<b>Sprint:</b> @{
    if (@Model.Sprint != null)
    {
        @Html.ActionLink(Model.Sprint.SprintName, "Details", "Sprint", new { Id = Model.Sprint.Id })
    }
}

<br />

<b>Story:</b> @{
    if (@Model.Story != null)
    {
        @Html.ActionLink(Model.Story.StoryName, "Details", "Story", new { Id = Model.Story.Id })
    }
    else
    {
        <text>None</text>
    }
}

<br />

<b>Workflow Stage:</b> @{
    if (@Model.WorkflowStage != null)
    {
        @Model.WorkflowStage.WorkflowStageName;
    }
}

<br />

<b>Points:</b> @{
    if (@Model.TaskPoints != null)
    {
        @Model.TaskPoints;
    }
}

<br />

<b>Description:</b> @{
    if (@Model.TaskDescription != null)
    {
        @Model.TaskDescription;
    }
}




<!--javascript libraries for unobtrusive client-side validation-->
@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}